.introducao {
  max-width: 1200px;
  padding: 200px 20px 200px;
  margin: 0 auto;
  gap: 100px;
  align-items: center;
}

.introducao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 600ch;
  margin-bottom: 60px;
  color: #525252;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 160px;
  height: 400px;
  background: url("../img/Detalhe.svg") no-repeat center;
  position: absolute;
  top: -195px;
  left: -10px;
  z-index: -1;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao-texto {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao-texto {
    font-size: 1.0rem;
  }
  .introducao h1::before {
    width: 40px;
    height: 300px;
    top: -150px;
    left: -10px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
